# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
#Features
VITE_FEATURE_NAVBAR=false
VITE_FEATURE_HERO_SECTION=true
VITE_FEATURE_HOME=
VITE_FEATURE_SERVICE=
VITE_FEATURE_CONTACT=
VITE_FEATURE_BLOG=
VITE_FEATURE_FOOTER=

VITE_FEATURE_CONTACT_FORM=
VITE_FEATURE_BOOKINGS=
VITE_FEATURE_LEADS_ADMIN=
VITE_FEATURE_ANALYTICS_DASHBOARD=
VITE_ANALYTICS_URL=http://localhost:8000